
.a1{
    align-items: flex-start;
    justify-content:center  ;
    background-color: antiquewhite;
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 20px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(0, 0, 0, 0.3); */


    transition: 0.4s;
}
.a1:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
}
.a1 h1{
    font-size: 40px;
}
.a2{
    justify-content: center;
    align-items: flex-start;
     display: flex;
    margin-left:100px ;
    flex-direction: column;

}
.form-container {
    text-align: right;
    justify-content: center;

  }

  
  .a3 {
        display: flex;
        justify-content: center; /* Align label and input at opposite ends */
        align-items:center; /* Vertically center label and input */
        margin-bottom: 10px; /* Adjust spacing between rows as needed */
      
       }
  
    .i1 {
         flex: 1; /* Allow input fields to expand and take remaining space */
        margin-left: 10px; /* Adjust spacing between label and input as needed */

    } /* Ensure input fields take up the remaining space */
  
    .i1{
        margin-bottom: 20px;
        /* font-size: 30px; */
        
    }
    #i1
    {
     display: none;   
     
    }
    #o1
    {
        justify-content: center;
     align-items: center;
     font-size: 30px;
     margin-bottom:30px ;
     cursor: pointer;
     border: 2px solid rgb(7, 7, 7);
     border-radius: 20px;
     padding-left: 5px;
     padding-right: 5px;
    
    }
    .i1{
        /* font-size: 10px; */
        justify-content: center;
        align-items: center;
        margin-top: 25px;
       /*
        padding-top: 10px; 
        */
        font-size: 20px;
        border-radius: 5px;
        border: 0px solid ;
        padding-top: 2px;
        padding-bottom: 2px;
        outline: none;
    }
    
    .o3
    {
        font-size: 30px;
    }
    .o4
    {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        
        margin-top: 30px;
        margin-left: 250px;
        background-color: rgb(221, 175, 129);
        width: 100%;
    }
    .o4:hover
    {
        cursor: pointer;
    }
    #Image{
        display:none;
    }
    #log
    {
        position: fixed;
        top: 10%;
        left: 20%;


        font-size: 40px;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px  ;
        background-color: antiquewhite;
    }
    #log:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       
    }